body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding: 1rem;
}

#wickedlogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 491px;
}
.navbar a {
  
  font-family: 'Arial', sans-serif; 
  font-size: 18px;
  font-weight: bold; 
  text-transform:uppercase; 
  letter-spacing:0.05em;
  font-style: normal;
  color: #000;
  text-decoration: none;
  padding: 0 1rem;
}
.navbar a:hover {
  text-decoration: underline;
  text-decoration: none;
  color: purple;
}

.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.highlight {
  background: linear-gradient(90deg, rgba(255,0,150,1) 0%, rgba(0,255,200,1) 100%);
  font-size: 2.5rem;
  padding: 1rem;
  display: inline-block;
  margin-bottom: 2rem;
}
footer {
  position: relative;
  background: #111;
  color: #fff;
  text-align: center;
  padding: 1rem;
  align-items: center;
  
}

footer a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold; 
  text-transform:uppercase; 
  letter-spacing:0.05em;
  font-style: normal;
  text-decoration: none;
  padding: 0 1rem;
  color: #c6c6c6;

}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-column1, .footer-column2, .footer-column3 {
  display: flex;
  flex-direction: column;
  color: #ffff;
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
background-color: rgba(0, 0, 0, 0.5);
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}


/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* Mobile View Styling */
/* Hamburger Menu Icon */
.hamburger-menu {
  display: none; /* Hidden by default */
  flex-direction: column;
  cursor: pointer;
  gap: 5px; /* Space between lines */
}

.line {
  width: 30px;
  height: 3px;
  background-color: #333;
}

/* Nav List */
.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* calendar */
.calendar-container {
  max-width: 350px;
  margin: auto;
  text-align: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #f0f0f0;
  padding: 10px 0;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-days div {
  padding: 10px 0;
}



img {
  max-width: 100%;
  height: auto;
}


/*  events side upcoming */

.event-schedule {
  background-color: #ffffff;
  width: 100%;
  max-width: 600px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.event-schedule h2 {
  text-align: center;
  padding: 16px;
  margin: 0;
  background-color: #f2f2f2;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0;
}

td {
  padding: 8px;
  border-bottom: 1px solid #dddddd;
  font-family: 'Arial', sans-serif;
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-style: normal;
      color: #000;
  }

td:first-child {
  font-weight: bold;
  color: #333;
}

td img {
  float: left;
  margin-right: 10px;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%;
}

td a {
  text-decoration: none
}

.flexeventspage {
  display: flex;
  flex: 1 3;
  justify-content: center;
  align-items: flex-start; /* Adjust if you want to align them differently */
  gap: 20px; /* Adjust the space between the elements */
  flex-wrap: wrap; /* Wraps the content to next line on smaller screens */
}


.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding: 1rem;
}

#wickedlogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 491px;
}
.navbar a {
  
  font-family: 'Arial', sans-serif; 
  font-size: 18px;
  font-weight: bold; 
  text-transform:uppercase; 
  letter-spacing:0.05em;
  font-style: normal;
  color: #000;
  text-decoration: none;
  padding: 0 1rem;
}
.navbar a:hover {
  text-decoration: underline;
  text-decoration: none;
}
.main-content {
  text-align: center;
  padding: 4rem 1rem;
  background: #000;
  color: #fff;
  width: 100%;
  max-width: 100%; /* Adjust to your preference */
  margin: auto;
  padding: 4rem 1rem;
}
.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.highlight {
  background: linear-gradient(90deg, rgba(255,0,150,1) 0%, rgba(0,255,200,1) 100%);
  font-size: 2.5rem;
  padding: 1rem;
  display: inline-block;
  margin-bottom: 2rem;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
background-color: rgba(0, 0, 0, 0.5);
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}


/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

.title {
    margin-bottom: 20px;
    font-size: 2rem; /* Adjust to your preference */
    color: #fff; /* Adjust to your preference */
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Adjust if you want to align them differently */
    gap: 40px; /* Adjust the space between the elements */
    flex-wrap: wrap; /* Wraps the content to next line on smaller screens */
}

.event-schedule {
    flex: 1; /* The .event-schedule will take up 1 part of the space */
    max-width: fit-content; /* Adjust minimum width as needed */
}

.calendar-container {
    flex: 3; /* The .calendar-container will take up 3 parts of the space */
    min-width: 60%; /* Adjust minimum width as needed */
}

/* Ensure that the content within the containers is responsive */
.event-schedule img, .calendar-container img {
    max-width: 100%;
    height: auto;
}

/* You may want to add additional responsive CSS to handle how these items stack or scale on smaller screens */
@media (max-width: 780px) {
    .hamburger-menu {
        display: flex; /* Show hamburger on mobile */
    }

    .nav-list {
        display: none; /* Hide nav list on mobile */
        flex-direction: column; /* Stack items vertically */
    }

    .nav-list.active {
        display: flex; /* Show nav list when active */
    }
    .flex-container {
        flex-direction: column;
    }
    .flex-event {
      flex-direction: column !important;
  }
    .event-schedule, .calendar-container {
        flex: none; /* On smaller screens, they will take the full width */
        min-width: 100%;
    }
    .main-content {
      display: flex;
      flex-direction: column !important;
    }
    .event-details-container {
      max-width: -moz-available;
    }
  .map-event {
    max-width: 100%;
  }
}

.flex-event {
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
}

.event-flyer {
  flex: 1;
  justify-content: left;
  gap: 2em;
}
.event-paragraph {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold; 
  letter-spacing:0.05em;
  font-style: normal;
  text-decoration: none;
  color: #c6c6c6;
}

.event-paragraph a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold; 
  letter-spacing:0.05em;
  font-style: normal;
  text-decoration: none;
  color: #c797eb;
}

.event-details-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  gap: 5%;
}

.map-event {
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding-top: 1em;
}

/* event button */
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-1 {
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-1 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-1:before,
.btn-1:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  transition: all 0.3s ease;
}
.btn-1:before {
  height: 0%;
  width: 2px;
}
.btn-1:after {
  width: 0%;
  height: 2px;
}
.btn-1:hover:before {
  height: 100%;
}
.btn-1:hover:after {
  width: 100%;
}
.btn-1:hover {
  background: transparent;
}
.btn-1 span:hover {
  color: #c797eb;
}
.btn-1 span:before,
.btn-1 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  transition: all 0.3s ease;
}
.btn-1 span:before {
  width: 2px;
  height: 0%;
}
.btn-1 span:after {
  height: 2px;
  width: 0%;
}
.btn-1 span:hover:before {
  height: 100%;
}
.btn-1 span:hover:after {
  width: 100%;
}